@import './common/var.scss';
@import './mixins/function';
@import './mixins/mixins';
@import './mixins/transition';
@include b(actionsheet) {
  position: fixed;
  z-index: 93;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; // transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  transition: transform .3s ease-out;
  @include e(content) {
    @include m(item) {
      text-align: center;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px solid $--color-border;
      font-size: 18px;
      color: #333;
      &.item-last {
        border-bottom: 0;
      }
    }
    @include m(divider) {
      height: 5px;
      background-color: $--background-color-base;
    }
  }
}

@include b(modal) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 91;
}
