@import './common/var.scss';
@import './mixins/function';
@import './mixins/mixins';
@include b(cell) {
  @include center-flex();
  position: relative;
  min-height: $--cell-height;
  padding: 0 $--cell-padding;
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
  .link-icon {
    position: absolute;
    right: 0;
  }
  @include e(value) {
    flex: 1;
    color: $--color-text-secondary;
    @include h(link) {
      margin-right: 10px;
    }
    &.content {
      flex: 3;
    }
  }
  @include e (label) {
    display: flex;
    align-items: center;
    .icon {
      padding-right: 4px;
    }
    &.content {
      flex: 1;
    }
    &.nocontent {
      flex: 0;
    }
    @include m(label) {
      flex: 1;
      display: flex;
      flex-direction: column;
      &:first-child {
        display: inline-block;
        vertical-align: middle;
      }
    }
    @include m(comment) {
      flex: 1;
      font-size: $--size-mini;
      margin-top: 6px;
      color: $--color-text-comment;
    }
  }
}
