@import './common/var.scss';
@import './mixins/function';
@import './mixins/mixins';
@include b(checklist) {
  @include e(title) {
    font-size: $--size-mini;
    margin: 8px;
    display: block;
    color: #888;
  }
  @include e(core) {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $--color-white;
    border: 1px solid $--color-border;
    margin-right: 6px;
    vertical-align: middle;
    @include m (input) {
      display: none;
    }
    &.checked {
      background-color: $--color-blue;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 100%;
        width: 8px;
        height: 8px;
        margin: auto;
        background-color: #ffFfff;
      }
    }
    &.disabled {
      background-color: $--color-grey;
      border-color: $--color-border;
    }
    &.right {
      float: right;
    }
  }
}
