@import './common/var.scss';
@import './mixins/function';
@import './mixins/mixins';
@import './mixins/animation';
@include b(indicator) {
  position: fixed;
  max-width: 80%;
  left: 50%;
  top: 50%;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: $--border-radius-base;
  background-color: rgba(0, 0, 0, 0.5);
}

@include e(img) {
  color: green;
  display: inline-block;
  @include rotating();
  .icon {
    font-size: 60px;
  }
}

@include e(text) {
  display: block;
}
