@import './common/var.scss';
@import './mixins/function';
@import './mixins/mixins';
@include b(navbar) {
  @include position(fixed, 0, 0, auto, 0);
  display: flex;
  font-size: $--size-mini;
  color: $--color-text-secondary;
  height: $--bar-height;
  line-height: $--bar-lineheight;
  background-color: $--color-white;
}

@include h(header) {
  top: $--bar-height;
}
